@import "./fonts/stylesheet.css";
:root {
  --main: #70c34a;
  --text: #606060;
  --black: #000;
  --white: #fff;
  /* fonts start */
  --arial: "Arial";
}

html, body {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button {
  outline: none;
}

button:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/*** 
====================================================================
Global Settings
====================================================================
   ***/
body {
  font-family: "Auster", sans-serif;
  font-size: 16px;
  color: #1867b8;
  line-height: 22px;
  font-weight: 500;
  background: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  cursor: pointer;
}

ul li {
  list-style: none;
}

.auto__container {
  max-width: 793px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  position: relative;
  font-weight: normal;
  margin: 0px;
  background: none;
}

.page-break {
  border: none;
  margin: 0;
  page-break-before: always;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
}

h1,
h2 {
  font-size: 40px;
  line-height: 100%;
  font-weight: 700;
  font-family: "Chaloops", sans-serif;
}

h3 {
  font-size: 38px;
  line-height: 100%;
  font-family: "Chaloops", sans-serif;
  font-weight: 700;
}

h4 {
  font-size: 26px;
  line-height: 130%;
  font-family: "Chaloops", sans-serif;
  font-weight: 700;
}

h6 {
  font-size: 20px;
  line-height: 130%;
}

p.sm {
  font-size: 9px;
  line-height: 100%;
}

.layout {
  overflow: hidden;
  position: relative;
  size: 8.5in 10.5in;
  min-height: 1122px;
}
.layout__head {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 45px;
}
.layout__head-logo {
  width: 128px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout__head-logo img {
  width: 100%;
}
.layout__head-title {
  background-color: #ec1c23;
  text-transform: uppercase;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 7px 10px 0;
  color: #fff;
  margin-bottom: 7px;
}
.layout__head-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.layout__head-content p {
  font-family: "Chaloops", sans-serif;
  font-weight: 500;
}
.layout__inner {
  min-height: 1122px;
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
}
.layout__inner-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: -60px;
}
.layout__inner-col {
  width: calc(100% - 510px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  text-align: end;
  padding-right: 45px;
}
.layout__inner-col h6 {
  font-weight: 400;
  font-family: "Auster", sans-serif;
  margin-bottom: 2px;
}
.layout__inner-col h6 b {
  font-family: "Chaloops", sans-serif;
  font-weight: 700;
}
.layout__inner-col p {
  max-width: 180px;
  line-height: 22px;
  height: 154px;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout__inner-info {
  margin-bottom: 20px;
}
.layout__inner-image {
  width: 510px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding-top: 25px;
}
.layout__inner-image img {
  width: 100%;
}
.layout__inner-image h3 {
  position: absolute;
  top: 5px;
  left: 150px;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  font-size: 38px;
  line-height: 100%;
  font-family: "Chaloops", sans-serif;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.layout__inner-image span {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 32px;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}
.layout__inner-image span img {
  width: 100%;
}
.layout__inner h1 {
  margin-bottom: 20px;
}
.layout__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  padding-top: 10px;
}
.layout__main-open {
  position: absolute;
  top: 6px;
  left: -20px;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout__main-open img {
  width: 100%;
}
.layout__main-close {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translate(50px, 40px) rotate(180deg);
          transform: translate(50px, 40px) rotate(180deg);
}
.layout__main-close img {
  width: 100%;
}
.layout__main-content {
  width: 50%;
  max-width: 380px;
  padding: 100px 45px 45px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  min-height: 420px;
}
.layout__main-image {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  max-width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.layout__main-image img {
  width: 100%;
}
.layout__main h2 {
  margin-bottom: 26px;
}
.layout__main p {
  margin-bottom: 16px;
  line-height: 22px;
  height: 66px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.layout__main h4 {
  color: #68d2ed;
  font-weight: 700;
}
.layout__foot {
  background-color: #ec1c23;
  padding: 17px 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto 0 0 0;
  position: relative;
}
.layout__foot p {
  position: absolute;
  top: 10px;
  right: 55px;
  font-size: 9px;
  line-height: 100%;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  color: #fff;
}
.layout__foot a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-family: "Myriad Pro", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  margin: 0 12px;
}
.layout__foot a span {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 12px;
}
.layout__foot a span img {
  width: 100%;
}